@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Poppins',sans-serif;
}
 
.header{
  width: 100%;
  height: 100vh;
  /* background-color: grey; */
  background-image: url("../images/AdobeStock_258669413_Preview.jpeg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#data{
  /* margin-left: 10%;
  display: flex;
  color: black;
  justify-content: center;
  margin-top: 1%;
  border-radius: 10px;
  height: 90%;
  overflow-y: scroll; */
  overflow-wrap: break-word;  /* width: 70%; */
  background: transparent;
  backdrop-filter: blur(10px);
}
